<div class="row">
    <div class="col-12 col-md-6 col-xl-6">
        <div class="row">

            <h1 class="text-center">About us!</h1>
            <div class="col-4 img-custom">
                <img class="w-100" src="../../../assets/images/logo.jpg" alt="tigris e-sport club">
            </div>
            <div class="col-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet ornare magna, a iaculis ex
                imperdiet a.
                Cras consectetur felis in commodo dignissim. Etiam rutrum neque ipsum, sit amet varius nunc fermentum
                in.
                Quisque fermentum leo lobortis diam semper pharetra. Morbi tempus pretium neque eget egestas.
                Quisque a turpis sit amet turpis elementum sollicitudin sit amet sed erat. Nunc at luctus neque. Quisque
                ornare aliquet blandit. Donec a aliquet est.

                Proin eget efficitur ex, vitae vulputate augue. Fusce nec lacus vitae elit ullamcorper rutrum vitae
                vitae nisi.
                Mauris sit amet lectus leo. Nunc egestas leo eu nibh tincidunt, non cursus lorem porta.
                Quisque lacus nibh, ultricies ac libero eleifend, feugiat aliquet est. Phasellus id sapien nec odio
                pellentesque iaculis.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. In hac habitasse platea
                dictumst.
                Donec eget est mattis, hendrerit lorem mattis, rhoncus massa. Donec ut rutrum sapien, eget pretium ante.
                Donec eros velit, elementum eget rutrum eu, consectetur vitae nulla. Fusce id erat id diam faucibus
                luctus.

                Donec id lorem molestie, dictum velit sed, convallis eros. Phasellus aliquam vehicula arcu vulputate
                feugiat. Suspendisse potenti.
                Aliquam at turpis vel eros faucibus eleifend. Nunc vitae felis ac justo ullamcorper hendrerit. Morbi
                diam ligula,
                cursus nec mauris id, faucibus lobortis tellus. Proin vitae dignissim lectus. Pellentesque pulvinar
                felis a massa egestas convallis.
                Nam dapibus massa a augue aliquet facilisis. Ut tincidunt erat in ligula dapibus pulvinar. Maecenas vel
                blandit elit.
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-6">
        <h1 class="text-center">Contacto</h1>
        <app-contact />
    </div>
</div>